@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body{
    background: url(animais-rapidos.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container{
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    align-items: center;
}

.title{
    font-family: "Lato", sans-serif;
    text-shadow: -1px -1px 1px #aaa,
             0px 4px 1px rgba(255, 255, 255, 0.5),
             4px 4px 5px rgba(231, 231, 231, 0.7),
             0px 0px 7px rgba(233, 233, 233, 0.4);
}

a{
    padding: 5px;
    color: black;
    text-decoration: none;
    background-color: #345ceb;
    text-transform: uppercase;
}

a:hover{
    background-color: #343deb;
    transform: scale(1.2);
}

@media screen and (min-width: 620px) {
    html {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
  }